<!DOCTYPE html>
<html>
    <head>
        <title> Change Password </title>
    </head>

<body>
    {% include "navbar.html" %}    
<div class = "main" style="text-align: center;">
    <div class="application_box" style="width: calc(30% + 30px);">
    <h1> Hello {{session["first_name"]}} {{session["last_name"]}}</h1>
    <error>{{session['passError']}}</error>
    <success>{{session['passSuccess']}}</success>
    <form action = "/Change_Password" id="changepass" method = "POST">
        new password: <input type = text name = pass1 id="pass1" value = "" required> <br> <br>
        retype your new password: <input type = text name = pass2  id="pass2" value = "" required> <br> <br> <br>
        <input type = submit name = submit value = "submit changes">
    </form>
    </div>
</div>
    <script type="text/javascript">
        const passpage = document.getElementById('changepass')   
   
        passpage.addEventListener('submit', (e) => {     
            const pass1 = document.querySelector('#pass1').value
            const pass2 = document.querySelector('#pass2').value

            let messages = []


            if (pass1.length > 50) {
                messages.push('password length is too long')
            }
            if (pass1.length < 1) {
                messages.push('password length is too short')
            }

            if (pass1 !== pass2) {
                messages.push('passwords are not the same')
            }

            if (messages.length > 0 ) {
                e.preventDefault()
                messages = messages.join('\n')
                alert(messages)
            }
        })
    </script>
</body>
</html>