<!--------------------DOCUMENT DESCRIPTION------------------ 
-This HTML shows the table of all the students assigned to said advisor
-Holds the students info, transcript, and form 1
-Visible by: Admin, GS, Advisor
--------------------DOCUMENT DESCRIPTION--------------------> 

<!DOCTYPE html>
<html>
    <head>
        <title>Students</title>
        <link href="/static/student_table.css" rel="stylesheet" type="text/css" />
        <style>
            body {
              background: url("static/images/wallpaper.jpg");
              background-repeat: no-repeat;
              background-size: cover;
            }
          </style>
    </head>

    <body>

        {% include "navbar.html" %}
    
        <div class = "student-table-main">
            <div class="parent">
            <h2 class = "All_Student_Table_Text"> Welcome {{facultyinfo.fname}} {{facultyinfo.minit}} {{facultyinfo.lname}} | UID: {{facultyinfo.uid}} | Role: {{facultyinfo.user_type}}</h4>
            </div>
            <h3 class = "All_Student_Table_Header">All Students</h3>
        </div>

        <form method="POST" action="/facultyviewstudents">
        <div class="search_container"> 
            <div class="search"> 
                <div class="search_row"> 
                    <div class="col-md-6"> 
                        <div class="search-1"> 
                            <i class='bx bx-search-alt'></i> 
                            <ul><label for degree></label>
                                <select name = degree id = degree>
                                    <option value = "%"> Any Degree </option>
                                    {% if current_deg == "PhD" %}
                                        <option value = "PhD" selected> PhD </option>
                                    {% else %}
                                        <option value = "PhD"> PhD </option>
                                    {% endif %}
                                    {% if current_deg == "MS" %}
                                        <option value = "MS" selected> Masters </option>
                                    {% else %}
                                        <option value = "MS"> Masters </option>
                                    {% endif %}
                                </select>
                            <label for sem></label>
                                <select name = sem id = sem>
                                    <option value = "%" selected> Any Semester </option>
                                    {% for sem in valid_sems %}
                                        {% if sem == current_sem %}
                                            <option value = "{{sem}}" selected> {{sem}} </option>
                                        {% else %}
                                            <option value = "{{sem}}"> {{sem}} </option>
                                        {% endif %}
                                    {% endfor %}  
                                </select>
                            <label for year></label>
                                <select name = year id = year>
                                    <option value = "%" selected> Any Year </option>
                                    {% for year in valid_years %}
                                        {% if year | int == current_year | int %}
                                            <option value = {{year}} selected> {{year}} </option>
                                        {% else %}
                                            <option value = {{year}}> {{year}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                        </div> 
                    </div> 
                    <div class = "col-md-6">
                        <div class = "search-1">
                            <i class = "bx bx-search-alt"></i>
                            <input type="text" name = "uid" placeholder="UID"> 
                            <!-- <input type = "text" name = "degree" placeholder = "degree"> -->
                        </div>
                    </div>
                    <div class="col-md-6"> 
                        <div> 
                            <div class="search-2"> 
                                <i class='bx bxs-map' ></i> 
                                <input type="text" name = "lname" placeholder="    Last Name">
                                <button> Search </button>
                            </div> 
                        </div> 
                    </div> 
                    <!-- <div class="col-md-6"> 
                        <div>
                            <div class = "search-2">
                                <i class = "bx bx-map"></i>
                                <input type =  value = hey>
                                <button> Search </button>
                            </div>
                        </div>
                    </div> -->
                </div> 
            </div>
        </div>
        </form>
        <br><br>


            <table class="student-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Admit Year</th>
                        <th>View Transcripts</th>
                        <th>View Form 1</th>
                        <th>View Advising Hold Form </th>
                        <th>PhD Thesis</th>
                        {% if user_type == 'Faculty'%}
                        <th>Thesis</th>
                        {%endif%}
                        
                    </tr>
                </thead>
                <tbody>
                    {% for s in studentinfo %}
                    <tr>
                        <td>{{s.uid}}</td>
                        <td>{{s.fname}} {{s.minit}} {{s.lname}}</td>
                        <td>{{s.email}}</td>
                        <td>{{s.semester}} {{s.year}} </td>
                        <td><a href="/transcript_ads/{{s.uid}}">View Transcript</a></td>
                        <td><a href="/viewform1/{{s.uid}}">View Form 1</a></td>
                        <td><a href = "/Advising_Hold_Form{{s.uid}}"> View Hold Form </td>
                        {% if s.degree == "PhD" or s.degree == "PHD" %}
                        <td><a href= "/viewthesis/{{s.uid}}"> View Thesis</a></td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% if user_type == 'Faculty'%}
                            {% if s.degree == "PhD" or s.degree == "PHD"%}
                                {%if s.approved == 'F'%}
                                <td><a href= "/approvethesis/{{s.uid}}"> Approve Thesis</a></td>
                                {%else %}
                                <td>Thesis Approved</td>
                                {% endif %}
                                {% else %}
                                <td> N/A </td>
                            {% endif %}
                        {%endif%}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
        </div>
    </body>
</html>
