<!DOCTYPE html>
<html>
    <head>
        <title>Registrar Portal</title>
        <link href="/static/styles.css" rel="stylesheet" type="text/css" />
        <style>
          body {
            background: url("static/images/wallpaper.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }
        </style>
    </head>

    <body>
        {% include "navbar.html" %}
    <div class = "main">
        <div class="parent">
            <h1 class="GS_Portal_Text">Welcome Registrar {{session["first_name"]}} {{session["last_name"]}}</h1>
        </div>
        <div class="portal-table-container">
            <div class="portal-table">
                <div class="portal-table-header">Privileges</div>
                    <div class="portal-table-content">
                        <a href="/manage_semesters" class="portal-table-link">Manage Semesters</a>
                        <a href="/Section_Add" class="portal-table-link">Manage Sections </a>
                        <a href="/Class_Add" class="portal-table-link">Manage Course Catalog</a>
                        <a href = "/viewalltranscripts" class = "portal-table-link"> View All Student Transcripts </a>
                    </div>
                </div>
        </div>
    </body>

</html>